body, html {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: arial, sans-serif;
    background-color: #121212;
    color: white;
    scroll-behavior: smooth;
}

.slide {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 250px;
    padding: 0 10%;
}

.right-aligned {
    text-align: right;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: -20px;
}

.flags {
    display: flex;
    margin-top: 20px;
}

.flag-wrapper {
    width: 120px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.flag {
    width: 50%;
    height: 100%;
    background-color: transparent;
    float: left;
}

.main-content {
    display: block;
    padding: 200px;
}

section {
    margin-bottom: 100px;
}

.scroll-down {
    position: absolute;
    bottom: 40px;
    right: 10%;
    font-size: 1rem;
    cursor: pointer;
    background-color: #c51077;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
}

.scroll-to {
    background-color: #ff69b4;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


@media (max-width: 600px) {
    .slide {
        padding: 0 5%;
    }

    .right-aligned {
        text-align: center;
    }

    .main-content {
        padding: 50px;
    }

    .scroll-down {
        right: 5%;
        padding: 10px 20px; 
    }

    .flag-wrapper {
        width: 100px;
    }

    .flag {
        width: 50%;
    }
}
