body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #302550;
}

.top-bar {
    background-color: #13011F;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.blog-post {
    background-color: #675A8F;
    color: #ffffff;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

.blog-post h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.blog-post a {
    color: #DAAFF6;
    transition: color 0.3s;
}

.blog-post a:hover {
    color: #D490FF;
}

.blog-post p {
    margin-bottom: 0; /* hover effect cause i like being fancy ^^ */
}

/* Special link style */
.special-link {
    text-decoration: underline;
    color: inherit; /* Inherit color from parent */
}
